$primary-color         : rgb(156, 39, 176);
$primary-hover-color   : rgb(228, 75, 255);
$primary-focus-color   : rgb(240, 157, 255);
$primary-disabled-color: rgb(170, 112, 179);
$secondary-color       : rgb(255, 255, 255);

@mixin fade-in {
    opacity                  : 1;
    animation-name           : fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration       : 1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}