@use '../../utilities/variables'as vars;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.__NavBar_bar {
    display         : flex;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 40px;
    user-select     : none;
    background-color: vars.$primary-color;
    justify-content : space-between;

    p {
        margin-top : 5px;
        font-family: 'Roboto Slab', serif;
        font-size  : 18px;
        font-weight: bold;
        font-style : normal;
        user-select: none;
        color      : #FFF;
    }
}

.__NavBar_title {
    p {
        margin-left: 20px;
        cursor     : pointer;

        &:hover {
            color: rgb(230, 230, 230);
        }

        &:active {
            color: "#FFF";
        }
    }
}

.__NavBar_clubName {
    p {
        padding-right: 20px;
    }
}

@media screen and (min-width: 3840px) {

    .__NavBar_bar {
        height: 80px;

        p {
            margin-top: 10px;
            font-size : 36px;

        }
    }

    .__NavBar_title {
        p {
            margin-left: 40px;
            cursor     : pointer;

            &:hover {
                color: rgb(230, 230, 230);
            }

            &:active {
                color: "#FFF";
            }
        }
    }

    .__NavBar_clubName {
        p {
            padding-right: 40px;
        }
    }
}