@use '../../utilities/variables'as vars;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800;900&display=swap');

.wrapperScoreboard {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 100%;
    height          : 100%;
    position        : absolute;
    background-image: url("https://thumbnails.padelgo.tv/e45nWz1EXUL.jpg");
    background-color: blue;
    padding-bottom  : 50px;

}

.BottomChannelName {
    padding-bottom: 50px;
}

.scoreboardContainer {
    width      : auto;
    font-family: 'Roboto Slab', serif;
    font-size  : 64px;
    font-style : bold;
    font-weight: 700;
    line-height: 84px;
    margin     : auto;
}

.scoreContainer {
    display: flex;

}

.imgcontainer {
    position: absolute;

}

.avatar {
    border-radius: 50%;
    width        : 120px;
    height       : auto;
    position     : relative;
    margin-left  : -75px;
    margin-right : 25px;

}

.avatarOverlap {
    width: 100%;

}

.ghost {
    opacity: 0;
}

.playerName {
    width          : 400px;
    color          : white;
    margin-right   : 25px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.setContainer {
    color: white;
}

.gameContainer {
    height         : 120px;
    width          : 120px;
    margin-right   : 25px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.currentScore {
    height         : 120px;
    width          : 120px;
    margin-right   : 25px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-left    : 25px;
}

.stupidSeparator {
    margin-bottom: 20px;
}

.__scoreboard_overlay_channel {
    position: absolute;
    bottom  : 25px;
    left    : 0;
    height  : 150px;
    width   : 100%;
    background: linear-gradient(180deg,
            rgba(196, 196, 196, 0) 0%,
            rgba(0, 0, 0, 0.92) 100%);
}

.__scoreboard_overlay_channel_content {
    display       : flex;
    flex-direction: row;

    img {
        margin-top : 0px;
        margin-left: 25px;
        max-width  : 100px;
    }
}

.__scoreboard_overlay_channel_content_headers {
    margin-top : 35px;
    margin-left: 30px;

    h6 {
        font-family: "Roboto Slab", serif;
        font-size  : 36px;
        font-style : normal;
        font-weight: bold;
        line-height: 30px;
        text-align : left;
        text-shadow: 0 0 1px rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 1),
            0 0 1px rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 1);
        color: #FFF;
    }
}