@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


.wrapperScoreboard {
    padding-top: 20%;
    margin     : auto;
    width      : 100%;
    height     : 100%;
    position   : absolute;
}

.scoreboardcontainer {
    width      : 1440px;
    margin     : 0 auto;
    margin-left: 0px;
}


.teamcontainer {
    width         : 1100px;
    font-family   : 'Roboto Slab', serif;
    font-size     : 64px;
    font-style    : normal;
    font-weight   : 700;
    line-height   : 84px;
    letter-spacing: 0em;
    text-align    : center;
    margin        : auto;
}


.avatar {
    border-radius: 50%;
    width        : 120px;
    height       : auto;
    position     : absolute;
    margin-right  : 25px;
    margin-left  : 25px;
}

.avataroverlap {
    border-radius   : 50%;
    width           : 120px;
    height          : auto;  
    position        : relative;
    margin-right: 25px;
}

.playername {
    display        : flex;

    color          : white;

}
.scorecontainer {
    display        : flex;
}


.setcontainer {

    color: white;
}

.gamecontainer {

    height         : 120px;
    width          : 140px;
    margin-right   : 25px;
    display        : flex;
    align-items    : center;
    justify-content: center;

}

.currentscore {
    height         : 120px;
    width          : 140px;
    margin-right   : 25px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    opacity        : 0.5;
    margin-left    : 25px;

}


.stupidseparator {
    margin-bottom: 20px;
}