@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


.wrapperScoreboard {
    padding-top: 20%;
    margin     : auto;
    width      : 100%;
    height     : 100%;
    position   : absolute;
    box-sizing : border-box;

    // align-items: center;

}

.scoreboardcontainer {
    width : 80%;
    margin: 0 auto;

}


.teamcontainer {
    font-family   : 'Roboto Slab', serif;
    font-size     : 64px;
    font-style    : normal;
    font-weight   : 700;
    line-height   : 84px;
    letter-spacing: 0em;
    text-align    : center;
    margin        : auto;
}


.avatar {
    border-radius   : 50%;
    width           : 120px;
    height          : auto;
    border          : 6px solid #9C27B0;
    position        : absolute;
    background-color: brown;
}

.avataroverlap {
    border-radius   : 50%;
    width           : 120px;
    height          : auto;
    border          : 7px solid #9C27B0;
    position        : relative;
    background-color: brown;
    margin-left: 50px;
}

.playername {
    background-color: yellow;
    width           : 40%;
    margin-left     : 10px;
    display         : flex;
    align-items     : center;
    justify-content : center
}

.scorecontainer {
    display        : flex;
    align-items    : center;
    justify-content: center;

}

.setcontainer {
    margin-left    : 20px;
    margin-right   : auto;
    height         : 120px;
    width          : 120px;
    left           : 781px;
    top            : 385px;
    border-radius  : 0px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.gamecontainer {
    background     : rgba($color: #000000, $alpha: 0.5);
    margin-left    : 20px;
    margin-right   : auto;
    height         : 120px;
    width          : 120px;
    left           : 781px;
    top            : 385px;
    border-radius  : 0px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.stupidseparator {
    margin-bottom: 20px;
}