/* .wrapper {
    background-color: #9C27B0;
    top             : 50%;
    left            : 50%;
    width           : 50%;
    height          : 50%;
    transform       : translate(-50%, -50%);
    position        : absolute;
} */
/* body {
    background-color: #9C27B0;
} */