@use '../../utilities/variables'as vars;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');


.__court_noGamePlaying_div {
    margin-top: 100px;

    /* W3C */
    display  : flex;
    box-pack : center;
    box-align: center;

    /* Internet Explorer 10 */
    display       : -ms-flexbox;
    -ms-flex-pack : center;
    -ms-flex-align: center;

    /* Firefox */
    display       : -moz-box;
    -moz-box-pack : center;
    -moz-box-align: center;

    /* Safari, Opera, and Chrome */
    display          : -webkit-box;
    -webkit-box-pack : center;
    -webkit-box-align: center;

    p {
        font-family: 'Roboto Slab', serif;
        font-size  : 18px;
        font-weight: bold;
        font-style : normal;
        text-align : center;
    }
}